<script setup lang="ts">

</script>

<template>
  <div>
    
    <v-icon icon="mdi-home" />

    <v-btn>
      Button
    </v-btn>

    <v-card
    class="mx-auto"
    max-width="200"
    height="200"
    image="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
    title="Card title"
    theme="dark"
  ></v-card>

  <v-dialog width="500">
  <template v-slot:activator="{ props }">
    <v-btn v-bind="props" text="Open Dialog"> </v-btn>
  </template>

  <template v-slot:default="{ isActive }">
    <v-card title="Dialog">
      <v-card-text>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          text="Close Dialog"
          @click="isActive.value = false"
        ></v-btn>
      </v-card-actions>
    </v-card>
  </template>
</v-dialog>

  </div>
</template>
